# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_INPUT_TOPIC=L3_IN
KAFKA_OUTPUT_TOPIC=L5_OUT

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Model hyperparameters
HIDDEN_CHANNELS=64
NUM_HEADS=4
THRESHOLD_WINDOW=200
